
/* .thumbnail img.portrait {
    width: 100%;
    height: auto;
  } */
  html { 
    background: url(../Images/websitematterwithpictures/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
