* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Actor';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Brush Script MT', cursive,
    monospace;
}
html {
  scroll-behavior: smooth;
}
